body {
    font-family: 'Helvetica Neue', Roboto;    
    margin: 0;
    padding: 0;
}

header {
    background: gray;
    color: white;
    font-size: 14px;
    h1 {
        margin: 0;
        a {
            color: white;
            text-decoration: none;
        }
    }
}

ul {
    list-style-type: none;
    padding-left: 0;
    li {
        margin-left: 0;
    }
}

a.button {
    display: block;    
    text-decoration: none;
    background: gray;
    padding: .5rem 1rem;
    color: white;
    border-radius: 3px;
    margin-top: .5rem;
    font-weight: bold;
}

section {    
    &:nth-child(odd) {
        background: #ddd;
    }
}

footer {
    
}

h1, h2, h3 { font-weight: normal; }

h1 {
    margin-top: 0;
}

dl.tags {
    clear: both;
    overflow: hidden;
    dt {
        float: left;        
        &:after {
            content: ':\2002'
        }
    }
    dd {
        float: left;
        margin: 0;
        padding: 0;
        &:after {
            content: '\2022\2002'
        }
        &:last-child:after {
            content: ''
        }
    }
}

dl:not(.tags) {
    dt {
        font-weight: bold;
    }
    dd {
        margin-left: 0;
        & + dt {
            margin-top: 1em;    
        }
    }
}


// #wrapper {
//     max-width: 980px;
//     margin: 0 auto;
//     #nav {
//         li {
//             margin: 0;
//         }
//     }
//     #content {
//         width: 66%;
//         float: right;
//     }
//     footer {
//         clear: both;
//     }
// }


.buttons {

    position: absolute;
    right: 20px;
    top: 20px;

    a {            
        color: white;
        width: 2em;
        height: 2em;        
        background-image: -webkit-repeating-linear-gradient(white, white 20%, transparent 20%, transparent 40%);
        background-image: repeating-linear-gradient(white, white 20%, transparent 20%, transparent 40%);
        text-indent: -1000px;        

        &:first-child {
            display: block;
        }
        &:last-child {
            display: none;
        }
    }

}


#meny {
    &:target {
        #nav {
            display: block;
        }
        .buttons a {  
            &:first-child {
                display: none;
            }
            &:last-child {
                display: block;
            }
        }
    }
}

#nav {
    display: none;
    background: silver;
    ul {
        list-style-type: none;
        margin: 0;
    }
    a {
        text-decoration: none;
        color: black;
    }
}

// header a { display: none; }


.content {
    padding: 20px;
}

select {
    font-size: 16px;
}

@media only screen and (min-width: 1024px) {
    .buttons { display: none; }
    #nav {
        display: block;
    }
    .content {
        max-width: 980px;
        margin: 0 auto !important;        
    }
    #nav {
        background: silver;
        clear: both;
        overflow: hidden;
        ul {
            list-style-type: none;            
            padding: 0;

        }
        li {
            float: left;
            display: inline-block;
            a {
                display: inline-block;
                padding: 10px
            }
        }
    }
    dl:not(.tags) {
        -moz-column-count: 3;
       -moz-column-gap: 20px;
       -webkit-column-count: 3;
       -webkit-column-gap: 20px;
        column-count: 3;
        column-gap: 20px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    dl:not(.tags) {
        -moz-column-count: 2;
       -moz-column-gap: 20px;
       -webkit-column-count: 2;
       -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px;
    }
}



