html {
    font-size: 18px;
    line-height: 1.5em;
}

body {
    font-family: 'Helvetica Neue', Roboto, sans-serif;    
    margin: 0;
    padding: 0;
}

header {
    background: gray;
    color: white;
    font-size: 14px;
    h1 {
        margin: 0;
        a {
            color: white;
            text-decoration: none;
        }
    }
}

a {
    color: maroon;
}

ul {
    list-style-type: none;
    padding-left: 0;
    li {
        margin-left: 0;
    }
}

a.button {
    display: block;    
    text-decoration: none;
    background: gray;
    padding: .5rem 1rem;
    color: white;
    border-radius: 3px;
    margin-bottom: .5rem;
    font-weight: bold;    
}

section {    
    &:nth-child(odd) {
        background: #ddd;
    }
}

footer {
    
}

h1, h2, h3 { font-weight: normal; }

h1 {
    margin-top: 0;
}

dl.tags {
    clear: both;
    overflow: hidden;
    dt {
        float: left;        
        &:after {
            content: ':\2002'
        }
    }
    dd {
        float: left;
        margin: 0;
        padding: 0;
        &:after {
            content: '\2022\2002'
        }
        &:last-child:after {
            content: ''
        }
    }
}

dl:not(.tags) {
    margin-top: 0;
    -webkit-column-break-inside: avoid;
    column-break-inside: avoid;    
    dt {
        font-weight: bold;
    }
    dd {
        margin-left: 0;
        & + dt {
            margin-top: 1em;    
        }
    }
}

.gruppeleder {
    font-style: italic;
}

// #wrapper {
//     max-width: 980px;
//     margin: 0 auto;
//     #nav {
//         li {
//             margin: 0;
//         }
//     }
//     #content {
//         width: 66%;
//         float: right;
//     }
//     footer {
//         clear: both;
//     }
// }


.buttons {

    position: absolute;
    right: 20px;
    top: 20px;

    a {            
        color: white;
        width: 2em;
        height: 2em;        
        background-image: -webkit-repeating-linear-gradient(white, white 20%, transparent 20%, transparent 40%);
        background-image: repeating-linear-gradient(white, white 20%, transparent 20%, transparent 40%);
        text-indent: -1000px;        

        &:first-child {
            display: block;
        }
        &:last-child {
            display: none;
        }
    }

}


#meny {
    &:target {
        #nav {
            display: block;
        }
        .buttons a {  
            &:first-child {
                display: none;
            }
            &:last-child {
                display: block;
            }
        }
    }
}

#nav {
    display: none;
    background: silver;
    ul {
        list-style-type: none;
        margin: 0;
        padding: -.5rem 0;
    }
    li {
        border-top: 1px solid gray;
        &:first-child {
            border: none;
        }
    }
    a {

        text-decoration: none;
        /*background: white;*/
        color: black;
        display: block;
        /*padding: .5rem 1rem;*/
        padding: .5rem 0;
        /*font-size: 1.2rem;*/
        /*margin-top: .5rem;*/
    }
    .content {
        padding: 0 20px;
    }
}

// header a { display: none; }

#markdown-toc {
    text-decoration: none;
    & > li { text-transform: uppercase; margin-top: 1rem; }
    li > ul {
        /*margin-left: 1rem;*/
        text-transform: none;
        & ul {
            margin-left: 1rem;
            font-size: .8rem;
            /*margin-bottom: .5rem;*/
            & ul {
                margin-left: 1rem;
            }
        }
    }
}


.content {
    padding: 20px;
}

select {
    font-size: 16px;
}

@media only screen and (min-width: 1024px) {
    .buttons { display: none; }
    .recipiesButtons, .list-wrapper {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
        -webkit-column-gap: 20px;
        -moz-column-gap: 20px;        
        column-gap: 20px;
    }
    .recipiesButtons.single li:first-child {
        margin-bottom: 100px;
    }
    // .button.single {
    //     // margin-right: 667px;
    //     margin-bottom: 30px;
    //     -webkit-column-break-after: always;
    // }
    #nav {
        display: block;
    }
    .content {
        max-width: 980px;
        margin: 0 auto !important;        
    }
    #nav {
        background: silver;
        clear: both;
        overflow: hidden;
        ul {
            list-style-type: none;            
            padding: 0;
        }
        li {
            float: left;
            display: inline-block;
            a {
                display: inline-block;
                padding: 10px
            }
        }
    }
        
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .recipiesButtons.single li:first-child {
        margin-bottom: 100px;
    }
    .recipiesButtons, .list-wrapper {
        -moz-column-count: 2;
       -moz-column-gap: 20px;
       -webkit-column-count: 2;
       -webkit-column-gap: 20px;
        column-count: 2;
        column-gap: 20px;
    }
    // .button.single {
    //     margin-right: 52%;
    // }
}



