<!doctype html>
<html lang="no" id="showmenu">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, user-scalable=yes, initial-scale = 1.0, minimum-scale = 1.0"/>
    <title>Florvåg Skole FAU</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
<div id="wrapper" class="with-styling">
    <header>
        <h1 class="logo">Florvag Skole FAU</h1>    
        <a class="button show" href="#showmenu">Meny</a>
        <a class="button hide" href="#">Lukk</a>
    </header>
    <div id="content">
        

