---
title: Referat
---

{% include header.html %}

 <div class="content">

         {% assign thisMonth = 'now' | date: '%m' | times: 1 %}
         {% assign thisYear = 'now' | date: '%Y' | times: 1 %}


         {% if thisMonth > 6 %}
             {% assign schoolyear = thisYear %}
         {% else %}
            {% assign schoolyear = thisYear | minus: 1 %}
         {% endif %}


         {% for post in site.categories.referat %}

             {% assign month = post.date | date: '%-m' %}
             {% assign previousmonth = post.next.date | date: '%-m' %}

             {% assign i = month | minus: 1 %}
             {% assign j = previousmonth | minus: 1 %}

             {% assign schoolyearmonth = site.data.date.schoolyear[i] %}
             {% assign schoolyearpreviousmonth = site.data.date.schoolyear[j] %}

             {% unless post.next %}
                 {% assign schoolyearpreviousmonth = 0 %}
             {% endunless %}


             {% if schoolyearmonth > schoolyearpreviousmonth %}
                 <h1>Skoleåret {{ schoolyear }}/{{ schoolyear | minus: 1999 }}</h1>
                 {% assign schoolyear = schoolyear | minus: 1 %}
             {% endif %}


             <article>

                 <h1><a href="{{ post.url }}">Referat FAU-møte

                     {% assign daynum = post.date | date:"%w" | plus: 0 %}
                     {{ site.data.date.days[daynum] }}

                     {{ post.date | date:"%-d." }}

                     {% assign monthnum = post.date | date:"%-m" | minus: 1 %}
                     {{ site.data.date.months[monthnum] }}

                     {{ post.date | date:"%Y" }}

                 </a></h1>
                 <dl class="tags">
                     <dt>Saker</dt>
                     {% for tag in post.tags %}
                         <dd>{{ tag | markdownify | strip_html }}</dd>
                     {% endfor %}
                 </dl>
             </article>
         {% endfor %}
     </div>

{% include footer.html %}
