{% include header.html backbtn="medlemmer" %}

{% assign year = page.date | date: '%Y' | minus: 0 %}
{% assign month = page.date | date: '%-m' | minus: 0 %}

{% if month < 8 %}
    {% assign year = year | minus: 1 %}    
{% endif %}

{% assign year = year | downcase %}

<div class="content">
    <h1>FAU medlemmer</h1>
    <select id="year">
        {% for post in site.categories.medlemmer %}
        <option value="{{ post.url }}"{% if post.url == page.url%} selected="selected"{% endif %}>{{ post.title }}</option>
        {% endfor %}
    </select>
    
    <script>
        (function(el) {
            el.addEventListener('change', function() {
                window.location.href = el.options[el.selectedIndex].value;                
            });                
        })(document.getElementsByTagName('select')[0]);
    </script>
    
    
    <dl>
        {% for verv in site.data[year]verv %}
    
            {% assign key = verv[0] %}
            
            <dt>{{ site.data.dictionary[key] }}</dt>
            {% for person in verv[1] %}
                <dd>{{ person.name }}{% if person.trinn %} ({{ person.trinn }}. trinn){% endif %}</dd>
            {% endfor %}
        {% endfor %}  
    </dl>
    
    
    <section>
        <h1>Arbeidsgrupper</h1>  
        <dl>
        {% for gruppe in site.data[year]arbeidsgrupper %}
        
            {% assign key = gruppe[0] %}
            <dt>{{ site.data.dictionary[key] }}</dt>
            {% for person in gruppe[1] %}
                <dd>{% if person.gruppeleder %}Gruppeleder: {% endif %}{{ person.name }}{% if person.trinn %} ({{ person.trinn }}. trinn){% endif %}</dd>
            {% endfor %}
       
            
    
        {% endfor %}  
         </dl>
    </section>
    
    </div>



{% include footer.html %}