{% include header.html backbtn="medlemmer" %}

{% assign year = page.date | date: '%Y' | minus: 0 %}
{% assign month = page.date | date: '%-m' | minus: 0 %}

{% if month < 8 %}
    {% assign year = year | minus: 1 %}    
{% endif %}

{% assign year = year | downcase %}

<div class="content">
    <h1>FAU medlemmer</h1>
    <select>
        {% for post in site.categories.medlemmer %}
        <option value="{{ post.url }}"{% if post.url == page.url%} selected="selected"{% endif %}>Skoleåret {{ post.title }}</option>
        {% endfor %}
    </select>
    
    <script>
        (function(el) {
            el.addEventListener('change', function() {
                window.location.href = el.options[el.selectedIndex].value;                
            });                
        })(document.getElementsByTagName('select')[0]);
    </script>
    
    
    
<!--         <div class="list-wrapper">
            {% for verv in site.data[year]verv %}
            <dl>    
                {% assign key = verv[0] %}
                
                <dt>{{ site.data.dictionary[key] }}</dt>
                {% for person in verv[1] %}
                    <dd>{{ person.name }}{% if person.trinn %} ({{ person.trinn }}. trinn){% endif %}</dd>
                {% endfor %}
            </dl>    
            {% endfor %} 
        </div> -->
    <div class="list-wrapper">
    {% for verv in site.data[year]verv %}
        {% assign key = verv[0] %}
        <dl>
            <dt>{{ site.data.dictionary[key] }}</dt>    
        {% for person in verv[1] %}
            
            
            <dd>{{ person.name }}{% if person.trinn %} ({{ person.trinn }}. trinn){% endif %}</dd>
            
            
        {% endfor %}
         </dl>
    {% endfor %}



    {% for gruppe in site.data[year]arbeidsgrupper %}
        
        {% assign key = gruppe[0] %}

        {% for person in gruppe[1] %}
            {% if person.gruppeleder %}
            <dl>
            <dt>Gruppeleder {{ site.data.dictionary[key] }}</dt>
            <dd>{{ person.name }}{% if person.trinn %} ({{ person.trinn }}. trinn){% endif %}</dd>
            
            </dl> 
            {% endif %}

        {% endfor %}
         
    {% endfor %}            
    </div>
    
    <section>
        <h1>Arbeidsgrupper</h1>  

        <div class="list-wrapper">
        
        {% for gruppe in site.data[year]arbeidsgrupper %}
        <dl>
            {% assign key = gruppe[0] %}
            <dt>{{ site.data.dictionary[key] }}</dt>
            {% for person in gruppe[1] %}
                <dd{% if person.gruppeleder %} class="gruppeleder"{% endif %}>{{ person.name }}{% if person.trinn %} ({{ person.trinn }}. trinn){% endif %}</dd>
            {% endfor %}
       
            
        </dl>
        {% endfor %}  
         
        </div>
        <p>
            <small><em>Gruppeledere i kursiv</em></small>
        </p>
    </section>
    
    </div>



{% include footer.html %}