{% include header.html backbtn="referat" %}

<div class="content">
    
   <!--  <a href="/referat/" class="button back">Referat</a> -->
    
    <h1>Referat {{ page.title }}</h1>
    <label for="select">Snarvei:</label>
    <select id="select">

        {% for post in site.categories.referat %}
    
            {% assign year = post.date | date: '%Y' %}
            {% assign shortyear = post.date | date: '%y' %}
             
     
            {% assign month = post.date | date: '%-m' %}
            {% assign previousmonth = post.next.date | date: '%-m' %}
     
     
            {% assign i = month | minus: 1 %}
            {% assign j = previousmonth | minus: 1 %}
     
            {% assign schoolyearmonth = site.data.date.schoolyear[i] %}
            {% assign schoolyearpreviousmonth = site.data.date.schoolyear[j] %}
            
            {% unless post.next %}
                {% assign schoolyearpreviousmonth = 0 %}    
            {% endunless %}
            
            {% if forloop.first and schoolyearmonth < 6 %}
                {% assign year = year | plus: 1 %}
                {% assign shortyear = shortyear | plus: 1 %}   
            {% endif %}
     
            {% if schoolyearmonth > schoolyearpreviousmonth %}
                <optgroup label="Skoleåret {{ year | minus: 1}}/{{ shortyear }}">                
            {% endif %}

            <option value="{{ post.url }}"{% if post.url == page.url%} selected="selected"{% endif %}>{{ post.title }}</option>
        {% endfor %}
        </optgroup>


    </select>
    
    <script>
        (function(el) {
            el.addEventListener('change', function() {
                window.location.href = el.options[el.selectedIndex].value;                
            });                
        })(document.getElementsByTagName('select')[0]);
    </script>
    
    
    {{ content }}
    
    
    {% assign year = page.date | date: '%Y' | minus: 0 %}
    {% assign month = page.date | date: '%-m' | minus: 0 %}
    
    {% if month < 8 %}
        {% assign year = year | minus: 1 %}    
    {% endif %}
    
    {% assign year = year | downcase %}
    
    <p>Referent: {{ site.data[year]person[page.author]name }}</p>
    
    
    
    {% assign posts = '' %}
    
    {% for post in site.categories.referat %}
     
    
        {% assign p = post.title | append: '|' | append: url | split: '|' %}
    
        {% assign posts = posts | append: p | append: '|'  %}
    
    
    
    
    {% endfor %}
    
    
    {% assign posts = posts | split: '|' %}
    
    {% assign referat_titles = site.categories.referat | map: 'title' %}
    {% assign referat_urls = site.categories.referat | map: 'url' %}
    
    
    <script>
        //console.log('map', {{ referat_titles | jsonify }}, {{ referat_urls | jsonify }});
    </script>
    
    <script>
        console.log('dates', {{ site.categories.referat | map: 'date' | jsonify }})
    </script>
    
    <script>
        //console.log('post by id', {{ page['/referat/2013/oktober'] | jsonify }})
    </script>
    
    
    {% if page.next %}
        <!-- <a href="{{ page.previous.url }}">{{ page.next.date | date: '%d.%m-%Y' | prepend: '< ' }}</a> -->
    {% endif %}
    
    {% if page.previous %}
        <!-- <a href="{{ page.previous.url }}">{{ page.previous.date | date: '%d.%m.%Y' | append: ' >' }}</a> -->
    {% endif %}
    </div>


{% include footer.html %}
