{% include header.html %}

<h1>{{ page.title }}</h1>

{{ content }}

{% convert year and month to numbers %}
{% assign year = page.date | date: '%Y' | minus: 0 %}
{% assign month = page.date | date: '%-m' | minus: 0 %}

{% check which schoolyear we're in %}
{% if month < 8 %}
    {% assign year = year | minus: 1 %}    
{% endif %}

{% convert year to string %}
{% assign year = year | downcase %}

{% get author name from schoolyear data %}
<p>Referent: {{ site.data[year]person[page.author]name }}</p>

{% include footer.html %}
